.home {
    font-size: 14px;
    .new-production, .recommend-production, .cloud-solution {
        background-color: #f6f7f9;
    }

    .new-production {
        .productions {
            display: flex;
            justify-content: space-around;
            .prod {
                width: 370px;
                height: 428px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
                border-radius: 2px;
                border-radius: 2px;
                background-color: #fff;

                .prod__name {
                    margin-top: 10px;
                    font-size: 22px;
                    margin-bottom: 16px;
                    line-height: 30px;
                    color: #333333;
                }
                .prod__icon {
                    height: 172px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-image: linear-gradient(180deg, #4881FF -100%, #ffffff 100%);
                    position: relative;

                    .p_bg {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        right: 0;
                    }
                    .p_vm {
                        width: 104px;
                        height: 104px;
                    }
                }
                .prod__t {
                    line-height: 30px;
                    width: 260px;
                }
                .prod__price {
                    color: #F7800C;
                    margin-bottom: 25px;
                    font-size: 20px;
                    line-height: 40px;
                }
                .prod__dt{
                    cursor: pointer;
                    color: #4881FF;
                    .icon-arrow-right-blue {
                        margin-left: 4px;
                    }
                }

            }
        }
    }

    .recommend-production {
        background-color: #fff !important;
        .productions {
            display: flex;
            border-left: 1px solid #EFF2FB;
            border-right: 1px solid #EFF2FB;
        }
        .border-right-1 {
            border-right: 1px solid #EFF2FB;
        }
        .prod{
            flex: 1;
            box-sizing: border-box;
            border-bottom: 1px solid #EFF2FB;
            .prod__banner {
                background-image: linear-gradient(180deg, #4881FF -100%, #ffffff 100%);
                height: 184px;
                box-sizing: border-box;
                padding: 40px 30px;
                display: flex;

                .p--sum {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .p_name {
                    font-size: 24px;
                }

                .p_label {
                    border: 1px solid #444444;
                    border-radius: 2px;
                    border-radius: 2px;
                    display: inline-block;
                    width: 80px;
                    text-align: center;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }

                .p_img {
                    width: 104px;
                    height: 104px;
                    margin-right: 25px;
                }
            }  
            .prod__intro {
                box-sizing: border-box;
                padding: 45px 50px;

                .intro--t {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                .intro--content {
                    line-height: 20px;
                }
                .dot {
                    width: 8px;
                    height:8px;
                    background-color: #CED1D7;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 10px;
                }

                .intro-2 {
                    .flex {
                        display: flex;
                    }
                    .intro__label {
                        margin-right: 40px;
                    }
                    border-top: 2px dashed #EFF2FB ;
                    margin-bottom: 40px;
                    padding-top: 30px;


                }
                .intro-3 {
                    button{
                        width: 100%;
                    }
                }
                
            } 

            &:hover {
                box-shadow: 0 1px 24px 0 rgba(0,0,0,0.12);
                width: 404px;
                .prod__banner {
                    color: #ffffff;
                    .p_label {
                        border: 1px solid #fff;}
                    background-image: linear-gradient(180deg, #4881FF, #D2DEF7);
                }
                .prod {
                    border: 0 !important;
                }
            }
        }
    }

    .cloud-solution {
        .solutions {
            background-color: #ffffff;
            width: 100%;
            height: 500px;
        }
        .card {
            display: flex;
        }
        .menu {
            width: 192px;
            padding-left: 58px;
            padding-top: 48px;
            box-sizing: border-box;
            flex: none;
        }
        .menu__item {
            font-size: 16px;
            line-height: 30px;
            padding-left: 20px;
            box-sizing: border-box;
            margin-bottom: 20px;

            &.selected {
                font-size: 20px;
                color: #4881FF;
                border-left: 2px solid #4881FF;
            }
        }
        .card--content {
            opacity: 0.95;
            background: #1B2743;
            height: 100%;
            width: 100%;
            flex: 1;
            color: #ffffff;

            .ct{
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 100%;
                position: relative;
                .mask {
                    opacity: 0.8;
                    background: #1B2743;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            .ct_1{
                background-image: url("../../assets/home/home-ex-1@2x.png");
            }
            .ct_2{
                background-image: url("../../assets/home/home-ex-2@2x.png");
            }
            .ct_3{
                background-image: url("../../assets/home/home-ex-3@2x.png");
            }
            .ct_4{
                background-image: url("../../assets/home/home-ex-4@2x.png");
            }
            .ct_5{
                background-image: url("../../assets/home/home-ex-5@2x.png");
            }
            .isolute {
                position: relative;
                box-sizing: border-box;
                    padding: 64px;
            }
            .ct__title {
                font-size: 28px;
                letter-spacing: 0;
                margin-bottom: 24px;
                line-height: 36px;
            }
            .ct__intro{
                line-height: 36px;
                font-size: 18px;
                margin-bottom: 72px;
            }
            .bd--uses {
                margin-bottom: 64px;
            }
        }
        .bd--uses {
            display: flex;
            .use-c {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 20px;
                padding-right: 20px;
                position: relative;

                .sticker {
                    width: 1px;
                    background-color: #f1f0f0;
                    height: 24px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    
                }

                .c__icon {
                    // border-right: 1px solid #f1f0f0;
                    box-sizing: border-box;
                    text-align: center;
                    width: 100%;
                }
                .c__txt {
                    font-size: 12px;
                    margin-top: 8px;
                }

                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    .sticker {
                        display: none;
                    }
                }
            }
        }
    }
    
  }